/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes increase {
  to {
    scale: 1.25;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

/* сердцевина */
.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.card__icon-button:active .core,
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

/* контур */
.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* основное тело сердца */
.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: increase 0.3s ease-in 0.1s;
  transform-origin: center;
}

/* искры вокруг */
.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in 0.3s;
}