/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font-family), 'Luxe Uno Font Family', sans-serif;
  font-variation-settings: 'wdth' var(--wght-main-font_regular);
  max-inline-size: clamp(375px, 100%, 700px);
  padding-block: 100px;
  color: var(--main-color);
  font-size: var(--main-text_font-size);
  background-attachment: fixed;
  background-image: var(--backgroung-gradient);
  background-size: cover;
}

.body_element {
  border: 2px solid var(--main-color);
  background-color: var(--section_background-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
  padding-inline: clamp(0.875rem, -6.8038rem + 32.7631vw, 7.53rem);
  inline-size: 100%;
  text-align: center;
  font-family: var(--accent_font-family), 'Press Start Regular', 'Press Start K WhatFontIs.com';
  text-transform: uppercase;
  letter-spacing: 0;
}

.header_title {
  block-size: 100%;
  font-size: clamp(3.063rem, 1.9092rem + 4.9231vw, 4.063rem);
}

.header_subtitle {
  block-size: 100%;
  font-size: clamp(0.875rem, 0.2254rem + 2.7717vw, 1.438rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block-start: var(--main_padding-block-start);
}

.card {
  inline-size: 100%;
}

.card-title {
  line-height: 24px; /* по макету 22px*/
  padding: var(--card-title_padding);
}

.image-container {
  position: relative;
  outline: 2px solid var(--main-color);
}

.card-image {
  display: block;
  inline-size: 100%;
  outline: 2px solid var(--main-color);
  object-fit: cover;
  object-position: center;
}

.card-image_min-brightness {
  filter: brightness(40%);
}

.card-image_hight-contrast {
  filter: contrast(210%);
}

.card-image_hight-saturate {
  filter: saturate(250%)
}

.card-image_hue-rotate {
  filter: hue-rotate(260deg);
}

.card-image_blur {
  filter: blur(3.5px) contrast(300%);
}

.card-image_invert {
  filter: invert(60%) hue-rotate(45deg) saturate(180%);
  outline-color: var(--section_background-color);
}

.card-image_big-combo {
  filter: saturate(180%) hue-rotate(-15deg) sepia(60%);
}

.image-container_lable {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent_font-family), 'Press Start Regular', 'Press Start K WhatFontIs.com';
  font-size: 14px;
  line-height: 100%;
  text-shadow:
  -1px 0 var(--section_background-color), 
  0 1px var(--section_background-color), 
  1px 0 var(--section_background-color), 
  0 -1px var(--section_background-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports ((text-stroke: 1px var(--section_background-color)) or (-webkit-text-stroke: 1px var(--section_background-color))) {
  .image-container_lable {
   -webkit-text-stroke: 1px var(--section_background-color);
   text-stroke: 1px var(--section_background-color);
   text-shadow: none;
  }
}

.card_text-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: var(--card-text-padding);
}

.card_text {
  line-height: 21px;
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: end;
  padding: var(--card-text-padding);
  padding-top: 0;
  align-items: center;
}

.button {
  position: relative;
  border:  2px solid var(--main-color);
  font-size: 14px;
  font-family: var(--accent_font-family), 'Press Start Regular', 'Press Start K WhatFontIs.com';
  overflow: hidden;
  color: var(--text-stroke-color);
  background-color: var(--text-stroke-color);
  padding-block: var(--card__like-button_padding-block);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  padding: 0;
  inset: 0;
  z-index: 0;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  line-height: 90%;
  min-inline-size: 266px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  justify-self: end;
  padding: 1px 0;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline-color: var(--main-color);
  transition: outline-color 0.3s ease;
}

.like-icon {
  display: block;
}

.card__like-button {
  min-inline-size: 130px;
  line-height: 90%;
}

.save-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  padding: var(--footer-button_padding);
  background-color: var(--section_background-color);
}

.save-button svg {
   block-size: 21px;
  inline-size: 21px;
}

.floppy {
  display: block;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  line-height: 21px;
}

dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  max-inline-size: 353px;
  padding: var(--dialog_padding);
  background-color: var(--text-stroke-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog .floppy {
  block-size: 39px;
  inline-size: 39px;
  grid-column: 1 / 2;
  mix-blend-mode: normal;
}

.dialog_text {
  font-family: var(--accent_font-family), 'Press Start Regular', 'Press Start K WhatFontIs.com';
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2 / 3;
}

.close-dialog-button {
  --card__like-button_padding-block: 10.5px;

  text-transform: uppercase;
  grid-column: 1 / 3;
}

@media (width <= 376px) {
  .image-container_lable {
    top: 25px;
    right: 13px;
  }

  .save-button svg {
    block-size: 28px;
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column;
    max-inline-size: 306px;
  }

  dialog[open] {
    inline-size: 341px;
  }

  .dialog_text {
    min-inline-size: 198px;
  }
}